version: '3.9'

services:

  egresso_api:
    image: alverad/meu-egresso-api:latest
    env_file:
      - .env
    ports:
      - ${APP_PORT}:80
    networks:
      - traefik-public
    volumes:
      - ./meuEgressoFotos:${PATHFOTOS}
    environment:
      - TZ=America/Belem
      - APP_PORT=80
    deploy:

      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-public"
        - "traefik.constraint-label=traefik-public"

        - "traefik.http.routers.api_egresso.rule=Host(`${DOMAIN_APPLICATION}`) && PathPrefix(`/api`)"
        - "traefik.http.routers.api_egresso.entrypoints=http"
        - "traefik.http.routers.api_egresso.middlewares=https-redirect@file,api_egresso-strip@docker"

        - "traefik.http.middlewares.api_egresso-strip.stripprefix.prefixes=/api"
        - "traefik.http.middlewares.api_egresso-strip.stripprefix.forceslash=true"

        - "traefik.http.routers.api_egresso_https.rule=Host(`${DOMAIN_APPLICATION}`) && PathPrefix(`/api`)"
        - "traefik.http.routers.api_egresso_https.entrypoints=https"
        - "traefik.http.routers.api_egresso_https.tls=true"
        - "traefik.http.routers.api_egresso_https.tls.certresolver=le"
        - "traefik.http.routers.api_egresso_https.middlewares=meuegresso-headers@file,api_egresso-strip@docker"
        - "traefik.http.services.api_egresso_https.loadbalancer.server.port=80"

networks:
  traefik-public:
    external: true
